.c05{
    position: relative;
    margin-left: 30%;
    box-align: left;
}


.c05-faq-container__title{
    position: relative;
    margin-left: 30%;
    box-align: left;
    color: red;
}

.c0-nav__menu-sub-item{
    list-style-type: none;
}