* {
    margin: 0px;
}

.as-tabnav-tablist {
    flex-flow: row;
    margin: 20px;
    column-gap: 20px;
    display: flex;
}

.container-content {
    display: flex;
    flex-flow: column;
}

.as-tabnav-tablist .as-tabnav-tablist-item {
    margin: 20px;
    list-style-type: none;
}

.as-search-results-value {
    font-size: 12px;
    margin-left: 10px;
}

.dl-trigger {
    bottom: hide;
}

.input-group {
    display: flex;
}

.as-search-wrapper {
    border-color: black;
    margin-left: 70%;
    margin-top: 30px;
    display: flex;
}

.dl-menu {
    list-style-type: none;
}

.dl-submenu {
    list-style-type: none;
}

.as-search-tabnav {
    display: flex;
    text-align: center;
}

.input-group {
    display: none;
}

.navbar-brand {
    margin-left: 0%;
}

.as-left-wrapper {
    display: flex;
}

.headercontainer {
    margin: 0px;
    width: 100%;
    height: 100px;
}