<!-- Footer -->
<div id="footerContainer">
 <div class="page-footer font-small unique-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold"><img src="/images/logo_transparent.png" width="40" height="40" alt=""> ExtraHands</h6>
                

                <p><small> ExtraHands is a free platform which can gather both customers and service providers. Enables customers
                     from to see different offers, choose the suitable one and get the service they want and It helps the 
                    service providers to understand customers´ problems faster, save operating time, and market their business as well.</small></p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Service provider </h6>
                <p>
                    <a href="/users/signup">Register</a>
                </p>
                <p>
                    <a href="/users/signin">My Account</a>
                </p>
                <p>
                    <a href="#!">Verify as a service provider </a>
                </p>
            </div>

             <!-- Grid column -->

             <hr class="w-100 clearfix d-md-none">

             <!-- Grid column -->
             <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                 <h6 class="text-uppercase mb-4 font-weight-bold">Client </h6>
                 <p>
                    <a href="/users/signup">Register</a>
                </p>
                 <p>
                     <a href="#!">Browse Categories</a>
                 </p>
                 <p>
                    <a href="#!">Find service provider </a>
                </p>
                 <p>
                     <a href="/users/signin">My Account</a>
                 </p>
             </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">ExtraHands</h6>
                <p>
                    <a href="#!">Home</a>
                </p>
               
                <p>
                    <a href="/help/faq">FAQs</a>
                </p>
                <p>
                    <a href="/help/aboutUs">About us</a>
                </p>
                <p>
                    <a href="#!">Contact us </a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <ul class="contact">
                    <li><p>Coblitzallee 1-9<br>68163 Mannheim</p></li>
                    <br>
                    <li>info@gmail.com</li>
                    <li>+49 234 567 88</li>
                    <li>+49 234 567 89</li>
                </ul>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->

        <hr class="bg-white">

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">

                <!--Copyright-->
                <p class="text-center text-md-left">© 2019 Copyright:
                    <a href="www.extrahands4.me" target="_parent">
                        <strong> extrahands4.me</strong>
                    </a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com">
                                <i class="fab facebook"><img src="/images/facebook.png" width="30" height="30" alt=""></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.twitter.com">
                                <i class="fab twitter"><img src="/images/twitter.png" width="30" height="30" alt=""></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com">
                                <i class="fab fa-linkedin-in"><img src="/images/linkedin.png" width="30" height="30" alt=""></i>
                            </a>

                        </li>
                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

 </div>
</div>
<!-- Footer -->