<div id="headerContainer">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand " style="cursor:pointer" onclick="openNav()">&#9776;</span>
        <a class="navbar-brand" href="https://extrahands4.me">
            <img src="/images/logo_transparent.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help/faq">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help/aboutUs">About Us</a>
                </li>
                <li class="nav-item dropdown megamenu-li">
                    <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                     <div class="row">
                      <div class="col-sm-6 col-lg-3">
                       <h5>Category 1</h5>
                       <a class="dropdown-item" href="#">sub cat 1</a>
                       <a class="dropdown-item" href="#">sub cat 2</a>
                       <a class="dropdown-item" href="#">sub cat 3</a>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                       <h5>Category 2</h5>
                       <a class="dropdown-item" href="#">sub cat 1</a>
                       <a class="dropdown-item" href="#">sub cat 2</a>
                       <a class="dropdown-item" href="#">sub cat 3</a>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                       <h5>Category 3</h5>
                       <a class="dropdown-item" href="#">sub cat 1</a>
                       <a class="dropdown-item" href="#">sub cat 2</a>
                       <a class="dropdown-item" href="#">sub cat 3</a> 
                      </div>                     
                      <div class="col-sm-6 col-lg-3">
                       <h5>Category 4</h5>
                       <a class="dropdown-item" href="#">sub cat 1</a>
                       <a class="dropdown-item" href="#">sub cat 2</a>
                       <a class="dropdown-item" href="#">sub cat 3</a>
                      </div>                      
                       <div class="col-sm-6 col-lg-3">
                       <h5>Category 5</h5>
                       <a class="dropdown-item" href="#">sub cat 1</a>
                       <a class="dropdown-item" href="#">sub cat 2</a>
                       <a class="dropdown-item" href="#">sub cat 3</a>   
                      </div>                   
                     </div>
                    </div>
                   </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Links</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/help/faq">FAQs</a>
                        <a class="dropdown-item" href="/help/aboutUs">About Us</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li> -->
                <% if (user.admin_rights) {%>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/admin/addQ">Add Question</a>
                        <a class="dropdown-item" href="/admin/updateQ">Update Question</a>
                        <a class="dropdown-item" href="/services/questionnaire">View all Question</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/addVis">Add Visual answer</a>
                        <a class="dropdown-item" href="/admin/addVerb">Add Verbal answer</a>
                        <a class="dropdown-item" href="/admin/updateA">Update Answer</a>
                    </div>
                </li>
                <% } %>

                <!--
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            -->
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <form class="form-inline">
                        <link rel="stylesheet" href="/stylesheets/search.css">
                        <script src="/javascripts/search.js"></script>
                        <ci-search></ci-search>
                        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        -->
                </li>
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="<%if(user.profile_pic_url){%><%=user.profile_pic_url%><%}else{%>/images/profilePic/default_w.png<%}%>"
                            class="rounded-circle z-depth-0" alt="avatar image" width="30px" height="30px">
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                        aria-labelledby="navbarDropdownMenuLink-55">
                        <% if (!logged) {%>
                        <a class=" dropdown-item" href="/users/signin">Login</a>
                    <a class="dropdown-item" href="/users/signup">Register</a>
                    <% } else {%>
                    <a class="dropdown-item" href="/users/logout">Logout</a>
                    <a class="dropdown-item" href="/users/editProfile">Edit Profile</a>
                    <% } %>
        </div>
        </li>
        </ul>
        </form>
</div>
</nav>
</div>