<div id="headerContainer">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand " style="cursor:pointer" onclick="openNav()">&#9776;</span>
        <a class="navbar-brand" href="https://extrahands4.me">
            <img src="/images/logo_transparent.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help/faq">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help/aboutUs">About Us</a>
                </li>

                
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                       
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Services
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="/show/search"><strong>All Services</strong></a>
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >Outside your home</a>
                              <ul class="dropdown-menu">
                                <a class="dropdown-item" href="/show/search?searchVal=winter service">Winter service</a>
                                <a class="dropdown-item" href="/show/search?searchVal=private paths and areas">Private paths and areas</a>
                                <a class="dropdown-item" href="/show/search?searchVal=public roads and areas">Public roads and areas</a>
                                <a class="dropdown-item" href="/show/search?searchVal=facade and scaffolding">Facade and scaffolding</a>
                                <a class="dropdown-item" href="/show/search?searchVal=roof and chimney">Roof and chimney</a>
                                <a class="dropdown-item" href="/show/search?searchVal=horticulture & care">Horticulture & care</a>
                                <a class="dropdown-item" href="/show/search?searchVal=foundation">Foundation</a>
                                <a class="dropdown-item" href="/show/search?searchVal=diggers and earthworks">Diggers and earthworks</a>
                                <a class="dropdown-item" href="/show/search?searchVal=walls and shell construction">Walls and shell construction</a>
                                <a class="dropdown-item" href="/show/search?searchVal=other outside work">Other outside work</a>
                              </ul>
                            </li>
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >Inside your home</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="/show/search?searchVal=basement">Basement</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=cleaning">Cleaning</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=staircase & railings">Staircase & Railings</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=walls & rooms">Walls & rooms</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=ceiling">Ceiling</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=doors & windows">Doors & Windows</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=parquet & flooring">Parquet & flooring</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=furniture & furnishings">Furniture & furnishings</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=electrical & smartHome">Electrical & SmartHome</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=heating, plumbing, climate">Heating, plumbing, climate</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=fireplace & chimney">Fireplace & chimney</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=other interior work">Other interior work</a>
                                </ul>
                              </li>
                              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >Vehicales</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="/show/search?searchVal=cars and trucks">Cars and Trucks</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=motorcycle">Motorcycle</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=bike">Bike</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=boot">Boot</a>
                                </ul>
                              </li>
                              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >Transport</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="/show/search?searchVal=move">Move</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=transport">Transport</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=transfer">Transfer</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=other to move & transport">Other to Move & Transport</a>
                                </ul>
                              </li>
                              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >Metal</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="/show/search?searchVal=structure of gates & railings">Structure of gates & railings</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=load-bearing construction">Load-bearing construction</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=welding operations">welding operations</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=other metalwork">Other metalwork</a>
                                </ul>
                              </li>
                              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >IT and software support</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="/show/search?searchVal=website & software">Website & Software</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=design & print">Design & Print</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=home appliances, sat system">Home appliances, SAT system</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=miscellaneous to edp & advertising">Miscellaneous to EDP & Advertising</a>
                                </ul>
                              </li>
                              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >Fixing</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="/show/search?searchVal=repairing a household appliances">Repairing a household appliance</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=repair home electronic">Repair home electronics</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=repair furniture & furnishings">Repair furniture & furnishings</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=mobile phone">Mobile phone</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=other repair work">Other repair work</a>
                                </ul>
                              </li>
                              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >Kitchen & furniture set-up</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="/show/search?searchVal=kitchen & furniture construction">Kitchen & furniture construction</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=furniture construction & dismantling">Furniture construction & dismantling</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=electric cooker connection & repair">Electric cooker connection & repair</a>
                                    <a class="dropdown-item" href="/show/search?searchVal=others for kitchen & furniture construction">Others for Kitchen & furniture construction</a>
                                </ul>
                              </li>
                          </ul>
                        </li>
                      </ul>
                    </div>

                   
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Links</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/help/faq">FAQs</a>
                        <a class="dropdown-item" href="/help/aboutUs">About Us</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li> -->
                <% if (user.admin_rights) {%>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/admin/addQ">Add Question</a>
                        <a class="dropdown-item" href="/admin/updateQ">Update Question</a>
                        <a class="dropdown-item" href="/services/questionnaire">View all Question</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/addVis">Add Visual answer</a>
                        <a class="dropdown-item" href="/admin/addVerb">Add Verbal answer</a>
                        <a class="dropdown-item" href="/admin/updateA">Update Answer</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/upgradeUsers">Upgrade Users</a>
                    </div>
                </li>
                <% } %>

                <!--
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            -->
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <form class="form-inline">
                        <link rel="stylesheet" href="/stylesheets/search.css">
                        <script src="/javascripts/search.js"></script>
                        <ci-search></ci-search>
                        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        -->
                </li>
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="<%if(user.profile_pic_url){%><%=user.profile_pic_url%><%}else{%>/images/profilePic/default_w.png<%}%>"
                            class="rounded-circle z-depth-0" alt="avatar image" width="30px" height="30px">
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                        aria-labelledby="navbarDropdownMenuLink-55">
                        <% if (!logged) {%>
                        <a class=" dropdown-item" href="/users/signin">Login</a>
                    <a class="dropdown-item" href="/users/signup">Register</a>
                    <% } else {%>
                    <a class="dropdown-item" href="/users/logout">Logout</a>
                    <a class="dropdown-item" href="/users/editProfile">Edit Profile</a>
                    <% } %>
        </div>
        </li>
        </ul>
        </form>
</div>
</nav>
</div>