<div id="header_SliderContainer">
 <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <% if (logged) {%>
      <a href="/users/editProfile" >Edit profile</a>
      <a href="/users/logout" >Logout</a>
   <% } else {%>
      <a href="/users/signup" >Register</a>
      <a href="/users/signin" >Login</a>
   <% } %>
   <br>
    <a href="/help/faq" >FAQs</a>
    <a href="/help/aboutUs" >About us</a>
 </div>
</div>