<div id="header_SliderContainer">
 <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/users/signup" >signup</a>
    <a href="/users/editProfile" >Edit profile</a>
    <a href="/help/faq" >FAQs</a>
    <a href="/help/aboutUs" >About us</a>
 </div>
</div>