<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Service finder FAQ </title>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/header_Sidebar.css">
    <link rel="stylesheet" href="/stylesheets/faq.css">
    <link rel="stylesheet" href="/stylesheets/categories.css">
    <link rel="stylesheet" href="/stylesheets/sub_Cat.css">


    

</head>

<body>

    <!-- Header -->
    <%- include partials/header_Slider %>
    <!-- Page contents -->
    <div id="main">
        <%- include partials/header %>
        <!-- End header -->

        <!-- Preloader -->

        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                </div>
            </div>
        </div>

        <!--End off Preloader-->


        <div class="service-faq-container">
            <div class="topics-content  service-finder-grid">
                <!--Top left Headers-->
                <div
                    class="service-finder-grid__yin  faq-content__yin  service-finder-grid__col-24  service-finder-grid__col-md2-8">
                    <div class="c10  c0-nav  js-c07-avoid-overlap  orange">
                        <div class="c10__item  c0-nav__item">

                            <ul class="c10__menu-sub  c0-nav__menu-sub  twtr-color-border--orange-dark">

                                <li class="c0-nav__menu-sub-item is-active twtr-color--orange-dark"
                                    data-hash-name="Using-Site" data-active-class-name="is-active"
                                    data-active-sm-color="twtr-color--orange-dark"
                                    data-active-lg-color="twtr-color--orange-dark">
                                    <a href="#Using-Site" class="twtr-type--roman-16  c0-nav__menu-sub-item-title">
                                        About ExtraHands


                                    </a>
                                </li>

                                <li class="c0-nav__menu-sub-item" data-hash-name="User-Profile"
                                    data-active-class-name="is-active" data-active-sm-color="twtr-color--orange-dark"
                                    data-active-lg-color="twtr-color--orange-dark">
                                    <a href="#User-Profile"
                                        class="twtr-type--roman-16  c0-nav__menu-sub-item-title">User
                                        Profile</a>
                                </li>

                                <li class="c0-nav__menu-sub-item" data-hash-name="rules-and-policies"
                                    data-active-class-name="is-active" data-active-sm-color="twtr-color--orange-dark"
                                    data-active-lg-color="twtr-color--orange-dark">
                                    <a href="#rules-and-policies"
                                        class="twtr-type--roman-16  c0-nav__menu-sub-item-title">Rules & policies</a>
                                </li>

                                <li class="c0-nav__menu-sub-item" data-hash-name="safety-and-security"
                                    data-active-class-name="is-active" data-active-sm-color="twtr-color--orange-dark"
                                    data-active-lg-color="twtr-color--orange-dark">
                                    <a href="#safety-and-security"
                                        class="twtr-type--roman-16  c0-nav__menu-sub-item-title">Safety & Security</a>
                                </li>
                            </ul>
                        </div>
                        <script type="application/ld+json">
                        </script>
                    </div>

                </div>
            </div>

            <!--Questions and Answers Container-->
            <div
                class="service-finder-grid__yang  faq-content__yang  service-finder-grid__col-24  service-finder-grid__col-md2-16">

                <!--Using Site-->
                <div class="c05-faq-container service-finder-component-space--md inview">
                    <!--Using-Site right Header-->
                    <div class="c05-faq-container__item  ">
                        <span class="twtr-deeplink" id="Using-Site"></span>
                        <h3 class="c05-faq-container__title  twtr-type--bold-24  twtr-color--orange-dark">
                            About ExtraHands
                        </h3>
                    </div>
                    <!--Q1-->
                    <div class="c05-faq ">
                        <div class="c05-faq-item">
                            <div class="c05">
                                <!--/cq-placeholder-->


                                <div class="c05__item  is-closed">
                                    <div class="c05__faq-question  js-faq-toggle  js-track-click"
                                        data-event-category="faq">
                                        <h4 class="c05__title  twtr-type--roman-18  twtr-color--dark-gray-neutral">
                                            What is "ExtraHands" and how do I use it?
                                        </h4>
                                    </div>
                                    <div class="c05__faq-answer">
                                        <div class="c05__faq-answer-copy  twtr-rte">
                                            <p class="twtr-type--roman-16  twtr-color--dark-gray-neutral">
                                                ExtraHands is a service providers portal on the Internet. ExtraHands
                                                supports businesses in their search for jobs and helps clients to find
                                                the right business
                                                for their job. Via ExtraHands clients can directly contact
                                                qualified service providers recommended by other customers.
                                                <hr>
                                            </p>
                                        </div>
                                    </div>
                                    <script type="application/ld+json">
                                    </script>
                                </div>
                                <!--/c05__item -->
                            </div>
                        </div>
                    </div>
                    <!--Q2-->
                    <div class="c05-faq ">
                        <div class="c05-faq-item">
                            <div class="c05">
                                <!--/cq-placeholder-->
                                <div class="c05__item  is-closed">
                                    <div class="c05__faq-question  js-faq-toggle  js-track-click"
                                        data-event-category="faq">
                                        <h4 class="c05__title  twtr-type--roman-18">
                                            What cities does ExtraHands service?
                                        </h4>
                                    </div>
                                    <div class="c05__faq-answer">
                                        <div class="c05__faq-answer-copy  twtr-rte">
                                            <p class="twtr-type--roman-16  twtr-color--dark-gray-neutral">
                                                ExtraHands covers entire Germany with a directory of screened and
                                                approved service providers.<br>
                                                <hr>
                                            </p>

                                        </div>
                                    </div>
                                    <script type="application/ld+json">
                                    </script>
                                </div>
                                <!--/c05__item -->
                            </div>
                        </div>
                    </div>

                    <!--Q4-->
                    <div class="c05-faq ">
                        <div class="c05-faq-item">
                            <div class="c05">
                                <!--/cq-placeholder-->
                                <div class="c05__item  is-closed">
                                    <div class="c05__faq-question  js-faq-toggle  js-track-click"
                                        data-event-category="faq">
                                        <h4 class="c05__title  twtr-type--roman-18  twtr-color--dark-gray-neutral">
                                            What kind of help can I get from the service providers?
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24"
                                                class="c05__faq-icon  twtr-icon--sm  twtr-color-fill--light-gray-neutral">
                                                <path opacity="0" d="M0 0h24v24H0z"></path>
                                                <path
                                                    d="M20.207 7.043c-.39-.39-1.023-.39-1.414 0L12 13.836 5.207 7.043c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414l7.5 7.5c.195.195.45.293.707.293s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.023 0-1.414z">
                                                </path>
                                            </svg>

                                        </h4>
                                    </div>
                                    <div class="c05__faq-answer">
                                        <div class="c05__faq-answer-copy  twtr-rte">

                                            <p class="twtr-type--roman-16 twtr-color--dark-gray-neutral"> Our network
                                                includes service professionals
                                                skilled in more than 200 home-mobile-related services, from house
                                                cleaning to remodeling, plus a growing directory of local services.
                                                <hr>
                                            </p>
                                        </div>
                                    </div>
                                    <script type="application/ld+json">
                                    </script>
                                </div>
                                <!--/c05__item -->
                            </div>
                        </div>
                    </div>
                    <!--Q5-->
                    <div class="c05-faq ">
                        <div class="c05-faq-item">
                            <div class="c05">
                                <!--/cq-placeholder-->
                                <div class="c05__item  is-closed">
                                    <div class="c05__faq-question  js-faq-toggle  js-track-click"
                                        data-event-category="faq">
                                        <h4 class="c05__title  twtr-type--roman-18  twtr-color--dark-gray-neutral">
                                            How do I know I'm getting the right service professional?
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24"
                                                class="c05__faq-icon  twtr-icon--sm  twtr-color-fill--light-gray-neutral">
                                                <path opacity="0" d="M0 0h24v24H0z"></path>
                                                <path
                                                    d="M20.207 7.043c-.39-.39-1.023-.39-1.414 0L12 13.836 5.207 7.043c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414l7.5 7.5c.195.195.45.293.707.293s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.023 0-1.414z">
                                                </path>
                                            </svg>
                                        </h4>
                                    </div>
                                    <div class="c05__faq-answer">
                                        <div class="c05__faq-answer-copy  twtr-rte">

                                            <p class="twtr-type--roman-16  twtr-color--dark-gray-neutral">
                                                You can use profile information and Ratings & Reviews from past
                                                customers to help decide who's best for you. Our mission is to create a
                                                better connection between the right consumer and the right service
                                                provider. We want you to get your job done right!
                                                <hr>
                                            </p>
                                        </div>
                                    </div>
                                    <script type="application/ld+json">
                                    </script>
                                </div>
                                <!--/c05__item -->
                            </div>
                        </div>
                    </div>
                    <!--Q6-->
                    <div class="c05-faq ">
                        <div class="c05-faq-item">
                            <div class="c05">
                                <!--/cq-placeholder-->
                                <div class="c05__item  is-closed">
                                    <div class="c05__faq-question  js-faq-toggle  js-track-click"
                                        data-event-category="faq">
                                        <h4 class="c05__title  twtr-type--roman-18  twtr-color--dark-gray-neutral">
                                            What does a service provider mean ?
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24"
                                                class="c05__faq-icon  twtr-icon--sm  twtr-color-fill--light-gray-neutral">
                                                <path opacity="0" d="M0 0h24v24H0z">
                                                </path>
                                                <path
                                                    d="M20.207 7.043c-.39-.39-1.023-.39-1.414 0L12 13.836 5.207 7.043c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414l7.5 7.5c.195.195.45.293.707.293s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.023 0-1.414z">
                                                </path>
                                            </svg>
                                        </h4>
                                    </div>
                                    <div class="c05__faq-answer">
                                        <div class="c05__faq-answer-copy  twtr-rte">
                                            <p class="twtr-type--roman-16  twtr-color--dark-gray-neutral">The term
                                                service provider describes persons who are employed in
                                                many commercial activities. service provider usually produce products or
                                                services to order or demand using their hands and
                                                tools such as machines.<br><br> Service describes the activity of the
                                                entire profession and is regarded as one of the oldest activities of
                                                mankind. The handicraft
                                                industry is regulated in Germany obligatorily by the handicraft order.
                                                Today, around 12.8 percent of the workforce is employed in
                                                the service/craft sector.
                                                <hr>
                                            </p>
                                        </div>
                                    </div>
                                    <script type="application/ld+json">
                                    </script>
                                </div>
                                <!--/c05__item -->
                            </div>
                        </div>
                    </div>
                </div>

                <!--User Profile-->
                <div class="c05-faq-container service-finder-component-space--md">
                    <!--User Profile right Header-->
                    <div class="c05-faq-container__item  ">
                        <span class="twtr-deeplink" id="User-Profile">
                        </span>
                        <h3 class="c05-faq-container__title  twtr-type--bold-24  twtr-color--orange-dark">
                            User Profile
                        </h3>
                    </div>
                    <!--Q1-->
                    <div class="c05-faq ">
                        <div class="c05-faq-item">
                            <div class="c05">
                                <div class="c05__item  is-closed">
                                    <div class="c05__faq-question  js-faq-toggle  js-track-click"
                                        data-event-category="faq">
                                        <h4 class="c05__title  twtr-type--roman-18  twtr-color--dark-gray-neutral">
                                            How do I create an account on ExtraHands?
                                        </h4>
                                    </div>
                                    <div class="c05__faq-answer">
                                        <div class="c05__faq-answer-copy  twtr-rte">
                                            <p class="twtr-type--roman-16  twtr-color--dark-gray-neutral">
                                                Click the "Sign Up" button in the navigation and a pop-up window will
                                                appear. Use your email, Facebook account or Google account to create a
                                                profile. If you choose
                                                to sign up using your email address, you must also create a password.
                                                Click "Join ExtraHands" and you are all set.
                                                <hr>
                                            </p>
                                        </div>
                                    </div>
                                    <script type="application/ld+json">
                                    </script>
                                </div>
                                <!--/c05__item -->
                            </div>
                        </div>
                    </div>
                    <!--Q2-->
                    <div class="c05-faq ">
                        <div class="c05-faq-item">
                            <div class="c05">
                                <div class="c05__item  is-closed">
                                    <div class="c05__faq-question  js-faq-toggle  js-track-click"
                                        data-event-category="faq">
                                        <h4 class="c05__title  twtr-type--roman-18  twtr-color--dark-gray-neutral">
                                            How do I reset my password?
                                        </h4>
                                    </div>
                                    <div class="c05__faq-answer">
                                        <div class="c05__faq-answer-copy  twtr-rte">
                                            <p class="twtr-type--roman-16  twtr-color--dark-gray-neutral">
                                                Visit the Forgot Your Password? page, enter your email address, and
                                                click the "Reset Password" button.
                                                ExtraHands will send you an email with simple instructions to make a new
                                                one.
                                                If you don't receive the email right away, check back in a few minutes
                                                or check your junk/spam folder.

                                                <hr>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/c05__item -->
                            </div>
                        </div>
                    </div>
                    <!--Q3-->
                    <div class="c05-faq ">
                        <div class="c05-faq-item">
                            <div class="c05">
                                <div class="c05__item  is-closed">
                                    <div class="c05__faq-question  js-faq-toggle  js-track-click"
                                        data-event-category="faq">
                                        <h4 class="c05__title  twtr-type--roman-18  twtr-color--dark-gray-neutral">
                                            How can I register myself as a service provider?

                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24"
                                                class="c05__faq-icon  twtr-icon--sm  twtr-color-fill--light-gray-neutral">
                                                <path opacity="0" d="M0 0h24v24H0z">
                                                </path>
                                                <path
                                                    d="M20.207 7.043c-.39-.39-1.023-.39-1.414 0L12 13.836 5.207 7.043c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414l7.5 7.5c.195.195.45.293.707.293s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.023 0-1.414z">
                                                </path>
                                            </svg>

                                        </h4>
                                    </div>
                                    <div class="c05__faq-answer">
                                        <div class="c05__faq-answer-copy  twtr-rte">
                                            <p class="twtr-type--roman-16  twtr-color--dark-gray-neutral">
                                                After you sign up, you need to edit your profile and enter your company
                                                information
                                                you need as well to send us your company's documents: <br>
                                                <br>● Criminal background <br> ● Credit <br>● Licensing <br>.● IHK
                                                registration<br>
                                                <br>
                                                Then you earn a Verified badge as a service provider means that you have
                                                passed our screening process.
                                                <hr>
                                            </p>

                                        </div>
                                    </div>
                                    <script type="application/ld+json">
                                    </script>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <!--Q4-->
                <div class="c05-faq ">
                    <div class="c05-faq-item">
                        <div class="c05">
                            <div class="c05__item  is-closed">
                                <div class="c05__faq-question  js-faq-toggle  js-track-click" data-event-category="faq">
                                    <h4 class="c05__title  twtr-type--roman-18  twtr-color--dark-gray-neutral">
                                        Should I be Verified to be able to register myself as a service provider?

                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24"
                                            class="c05__faq-icon  twtr-icon--sm  twtr-color-fill--light-gray-neutral">
                                            <path opacity="0" d="M0 0h24v24H0z">
                                            </path>
                                            <path
                                                d="M20.207 7.043c-.39-.39-1.023-.39-1.414 0L12 13.836 5.207 7.043c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414l7.5 7.5c.195.195.45.293.707.293s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.023 0-1.414z">
                                            </path>
                                        </svg>

                                    </h4>
                                </div>
                                <div class="c05__faq-answer">
                                    <div class="c05__faq-answer-copy  twtr-rte">
                                        <p class="twtr-type--roman-16  twtr-color--dark-gray-neutral">
                                            You do not need to be Verified, you can register yourself as a service
                                            provider
                                            and your profile will be shown to the users.
                                            <hr>
                                        </p>

                                    </div>
                                </div>
                                <script type="application/ld+json">
                                </script>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--Q5-->
            <div class="c05-faq ">
                <div class="c05-faq-item">
                    <div class="c05">
                        <div class="c05__item  is-closed">
                            <div class="c05__faq-question  js-faq-toggle  js-track-click" data-event-category="faq">
                                <h4 class="c05__title  twtr-type--roman-18  twtr-color--dark-gray-neutral">
                                    Can I change my data at any time?

                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        class="c05__faq-icon  twtr-icon--sm  twtr-color-fill--light-gray-neutral">
                                        <path opacity="0" d="M0 0h24v24H0z">
                                        </path>
                                        <path
                                            d="M20.207 7.043c-.39-.39-1.023-.39-1.414 0L12 13.836 5.207 7.043c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414l7.5 7.5c.195.195.45.293.707.293s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.023 0-1.414z">
                                        </path>
                                    </svg>

                                </h4>
                            </div>
                            <div class="c05__faq-answer">
                                <div class="c05__faq-answer-copy  twtr-rte">
                                    <p class="twtr-type--roman-16  twtr-color--dark-gray-neutral">

                                        In your ExtraHands account Profile you can edit your stored data (e.g. telephone
                                        number) at any time.
                                        <hr>
                                    </p>

                                </div>
                            </div>
                            <script type="application/ld+json">
                            </script>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--RULES & POLICIES-->
        <div class="c05-faq-container service-finder-component-space--md">

            <!--RULES & POLICIES right Header-->
            <div class="c05-faq-container__item  ">
                <span class="twtr-deeplink" id="rules-and-policies">
                </span>
                <h3 class="c05-faq-container__title  twtr-type--bold-24  twtr-color--orange-dark">
                    Rules & Policies
                </h3>
            </div>

            <!--Q1-->
            <div class="c05-faq ">
                <div class="c05-faq-item">
                    <div class="c05">
                        <div class="c05__item  is-closed">
                            <div class="c05__faq-question  js-faq-toggle  js-track-click" data-event-category="faq">
                                <h4 class="c05__title  twtr-type--roman-18  twtr-color--dark-gray-neutral">
                                    Are there any costs for using ExtraHands?
                                </h4>
                            </div>
                            <div class="c05__faq-answer">
                                <div class="c05__faq-answer-copy  twtr-rte">
                                    <p class="twtr-type--roman-16  twtr-color--dark-gray-neutral">
                                        ExtraHands is generally free of charge for both service providers and clients.
                                        There are no costs to
                                        you for registering with ExtraHands or for using it.
                                        <hr>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/c05__item -->
                    </div>
                </div>
            </div>


            <!--Q2-->
            <div class="c05-faq ">
                <div class="c05-faq-item">
                    <div class="c05">
                        <div class="c05__item  is-closed">
                            <div class="c05__faq-question  js-faq-toggle  js-track-click" data-event-category="faq">
                                <h4 class="c05__title  twtr-type--roman-18  twtr-color--dark-gray-neutral">
                                    Should I be registered to be able to search and contact service providers?
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        class="c05__faq-icon  twtr-icon--sm  twtr-color-fill--light-gray-neutral">
                                        <path opacity="0" d="M0 0h24v24H0z">
                                        </path>
                                        <path
                                            d="M20.207 7.043c-.39-.39-1.023-.39-1.414 0L12 13.836 5.207 7.043c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414l7.5 7.5c.195.195.45.293.707.293s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.023 0-1.414z">
                                        </path>
                                    </svg>

                                </h4>
                            </div>
                            <div class="c05__faq-answer">
                                <div class="c05__faq-answer-copy  twtr-rte">
                                    <p class="twtr-type--roman-16  twtr-color--dark-gray-neutral">
                                        to use ExtraHands functions and search for different service providers you do
                                        not need an account.
                                        If you a service provider you need to register yourself and create an account to
                                        make sure other
                                        clients can see your contact information.
                                        <hr>
                                    </p>
                                </div>
                            </div>
                            <script type="application/ld+json">
                            </script>
                        </div>
                    </div>
                </div>
            </div>





            <!--SAFETY AND SECURITY-->
            <div class="c05-faq-container service-finder-component-space--md">

                <!--SAFETY AND SECURITY right Header-->
                <div class="c05-faq-container__item  ">
                    <span class="twtr-deeplink" id="safety-and-security">
                    </span>
                    <h3 class="c05-faq-container__title  twtr-type--bold-24  twtr-color--orange-dark">
                        Safety and Security
                    </h3>
                </div>

                <!--Q1-->
                <div class="c05-faq ">
                    <div class="c05-faq-item">
                        <div class="c05">
                            <div class="c05__item  is-closed">
                                <div class="c05__faq-question  js-faq-toggle  js-track-click" data-event-category="faq">
                                    <h4 class="c05__title  twtr-type--roman-18  twtr-color--dark-gray-neutral">
                                        Does ExtraHands offer any kind of guarantee or warranty?
                                    </h4>
                                </div>

                                <div class="c05__faq-answer">
                                    <p class="twtr-type--roman-16">
                                        ExtraHands provides a platform that connects Clients with Service-providers. We
                                        don’t guarantee or ensure work carried out by our members.
                                        Many service providers carry public liability insurance which covers accidental
                                        damage or injury to a third party or their
                                        property. Public liability insurance does not cover the quality of work.
                                        <hr>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Q2-->
            <div class="c05-faq ">
                <div class="c05-faq-item">
                    <div class="c05">
                        <div class="c05__item  is-closed">
                            <div class="c05__faq-question  js-faq-toggle  js-track-click" data-event-category="faq">
                                <h4 class="c05__title  twtr-type--roman-18  twtr-color--dark-gray-neutral">
                                    Does ExtraHands offer a dispute resolution service?
                                </h4>
                            </div>
                            <div class="c05__faq-answer">
                                <div class="c05__faq-answer-copy  twtr-rte">
                                    <p class="twtr-type--roman-16  twtr-color--dark-gray-neutral">
                                        ExtraHands is a matchmaking platform that brings Clients and Service providers
                                        together. When complaints arise we must remain impartial. We encourage both
                                        parties
                                        to attempt to resolve the matter
                                        between them and where an agreement is not possible, we signpost Clients to
                                        specialist organisations who have the expertise to provide further assistance.
                                        <hr>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>

    <!-- End page contents -->


    <!-- Footer -->
    <%- include partials/footer %>
    </div>
    <!-- End footer -->

    <!-- Scripts -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js">
    </script>
    <script src="/javascripts/header_Sidebar.js"></script>
    <script src="/javascripts/categories.js"></script>

    

</body>

</html>