<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>My Results</title>
    <meta name="description" content="display results">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/header_Sidebar.css">
    <link rel="stylesheet" href="../stylesheets/questionnaire.css">
    <link rel="stylesheet" href="../stylesheets/sub_Cat.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <link href="../stylesheets/showResults.css" rel="stylesheet" />
    <link rel="stylesheet" href="../stylesheets/article-list-vertical.css">




</head>

<body>
    <!-- Header -->
    <%- include partials/header_Slider %>

    <!-- Page contents -->
    <div id="main">
        <%- include partials/header %>
        <!-- End header -->

        <div class="s008">
            <form>
                <div class="inner-form">
                    <div class="basic-search">
                        <div class="input-field">
                            <input id="search" name="searchVal" type="text" placeholder="Type Keywords" />
                            <div class="icon-wrap">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20"
                                    viewBox="0 0 20 20">
                                    <path
                                        d="M18.869 19.162l-5.943-6.484c1.339-1.401 2.075-3.233 2.075-5.178 0-2.003-0.78-3.887-2.197-5.303s-3.3-2.197-5.303-2.197-3.887 0.78-5.303 2.197-2.197 3.3-2.197 5.303 0.78 3.887 2.197 5.303 3.3 2.197 5.303 2.197c1.726 0 3.362-0.579 4.688-1.645l5.943 6.483c0.099 0.108 0.233 0.162 0.369 0.162 0.121 0 0.242-0.043 0.338-0.131 0.204-0.187 0.217-0.503 0.031-0.706zM1 7.5c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5-6.5-2.916-6.5-6.5z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="advance-search">
                        <span class="desc">Advanced Search</span>
                        <div class="row">
                            <div class="input-field">
                                <div>
                                    <!-- <select data-trigger="" name="choices-single-defaul">
                                        <option placeholder="" value="">ACCESSORIES</option>
                                        <option>ACCESSORIES</option>
                                        <option>SUBJECT B</option>
                                        <option>SUBJECT C</option>
                                    </select> -->
                                    <input type="number" name="zipcode" class="bg-dark text-white" placeholder="Zip Code">
                                </div>
                            </div>
                            <div class="input-field">
                                <div class="input-select">
                                    <select data-trigger="" name="range">
                                        <option placeholder="" value="">Range</option>
                                        <option>05 km</option>
                                        <option>10 km</option>
                                        <option>20 km</option>
                                        <option>50 km</option>
                                        <option>99 km</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-field">
                                <div class="input-select">
                                    <select data-trigger="" name="verification">
                                        <option placeholder="" value="">Verification Status</option>
                                        <option>Verified</option>
                                        <option>Not Verified</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row second">
                            <div class="input-field">
                                <div class="input-select">
                                    <select data-trigger="" name="choices-single-defaul">
                                        <option placeholder="" value="">SALE</option>
                                        <option>SALE</option>
                                        <option>SUBJECT B</option>
                                        <option>SUBJECT C</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-field">
                                <div class="input-select">
                                    <select data-trigger="" name="choices-single-defaul">
                                        <option placeholder="" value="">TIME</option>
                                        <option>THIS WEEK</option>
                                        <option>SUBJECT B</option>
                                        <option>SUBJECT C</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-field">
                                <div class="input-select">
                                    <select data-trigger="" name="choices-single-defaul">
                                        <option placeholder="" value="">TYPE</option>
                                        <option>TYPE</option>
                                        <option>SUBJECT B</option>
                                        <option>SUBJECT C</option>
                                    </select>
                                </div>
                            </div>
                        </div> -->
                        <div class="row third">
                            <div class="input-field">
                                <div class="result-count">
                                    <span>108 </span>results</div>
                                <div class="group-btn">
                                    <button class="btn-delete" id="delete">Reset</button>
                                    <button class="btn-search">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- This templates was made by Colorlib (https://colorlib.com) -->
        <% if(recordset){ %>
        <% if(recordset.length > 0){ %>
        <ul class="article-list-vertical">
            <% for(var i = 0; i < recordset.lenght;i++) { %>
            <li>
                <a href="#" style="background-image: url('../images/aboutUs/pic01.jpg')"></a>
                <div>
                    <h2><a href="#">Interesting article title</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lacus mattis laoreet diam
                        a volutpat magna.</p>
                    <a href="#" class="read-more">Read more &rarr;</a>
                </div>
            </li>

            <% } %>
            <!-- <li>
                <a href="#" style="background-image: url('../images/aboutUs/pic03.jpg')"></a>
                <div>
                    <h2><a href="#">Interesting article title</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lacus mattis laoreet diam
                        a volutpat magna.</p>
                    <a href="#" class="read-more">Read more &rarr;</a>
                </div>
            </li> -->

        </ul>
        <% } %>
        <% } %>

        <!-- End page contents -->


        <!-- Footer -->
        <%- include partials/footer %>
    </div>
    <!-- End footer -->

    <!-- Scripts -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js">
    </script>
    <script src="../javascripts/header_Sidebar.js"></script>
    <script src="../javascripts/ShowResultsExtention/choices.js"></script>
    <script>
        const customSelects = document.querySelectorAll("select");
        const deleteBtn = document.getElementById('delete')
        const choices = new Choices('select', {
            searchEnabled: false,
            removeItemButton: true,
            itemSelectText: '',
        });
        for (let i = 0; i < customSelects.length; i++) {
            customSelects[i].addEventListener('addItem', function (event) {
                if (event.detail.value) {
                    let parent = this.parentNode.parentNode
                    parent.classList.add('valid')
                    parent.classList.remove('invalid')
                } else {
                    let parent = this.parentNode.parentNode
                    parent.classList.add('invalid')
                    parent.classList.remove('valid')
                }
            }, false);
        }
        deleteBtn.addEventListener("click", function (e) {
            e.preventDefault()
            const deleteAll = document.querySelectorAll('.choices__button')
            for (let i = 0; i < deleteAll.length; i++) {
                deleteAll[i].click();
            }
        });
    </script>


</body>

</html>