<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Upgrade Users</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/header_Sidebar.css">
  <link rel="stylesheet" href="/stylesheets/adminForms.css">



</head>

<body>
  <!-- Header -->
  <%- include partials/header_Slider %>

  <!-- Page contents -->
  <div id="main">
    <%- include partials/header %>
    <!-- End header -->

    <div class="form-container">
      <form name="verbalQuestion" action="/admin/upgradeUsers" method="POST">
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" name="username" type="text">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Upgrade type</label>
          <select name="upgradeType" class="form-control" id="exampleFormControlSelect1">
            <option value="verifyProvider">Verfied Service Provider</option>
            <option value="adminRights">Admin Rights</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Operation</label>
          <select name="operationMode" class="form-control" id="exampleFormControlSelect1">
            <option value= 1>Grant</option>
            <option value= 0>Revoke</option>
          </select>
        </div>
        <div class="form-group">
          <input type="submit" class="button btn btn-primary" value="Upgrade">
        </div>

      </form>
    </div>

    <!-- End page contents -->


    <!-- Footer -->
    <%- include partials/footer %>
  </div>
  <!-- End footer -->

  <!-- Scripts -->
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
  </script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js">
  </script>
  <script src="/javascripts/header_Sidebar.js"></script>


</body>

</html>