.c05{
    position: relative;
    margin-left: 15%;
    margin-right: 10%;
    box-align: left;
}


.c05-faq-container__title{
    position: relative;
    margin-left: 14%;
    margin-right: 10%;
    box-align: left;
    color: red;
}

.c0-nav__menu-sub-item{
    list-style-type: none;
}

.service-faq-container{
    display: flex;
}

.service-finder-grid{
    margin: 5% 0 0 1%;
    font-size: 150%;
}