#footerContainer {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: hsl(210, 11%, 15%);
    color: orange;
}
#footerContainer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
}



#footerContainer li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: hsl(210, 11%, 15%);
    color: white;
}

#footerContainer a {
    color: white;
}


.fab fa-linkedin-in {
    background-color: transparent;
    border-color: transparent;
}

.contact {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}