<form name="addquestion" action="/admin/addQ" method="post">
  <div>
    <label for="user" class="label">Question Key</label>
    <input id="questiinKey" name="questionKey" type="text">
  </div>
  <div>
    <label for="Parent Key" class="label">Parent Key</label>
    <input id="ParentKey" name="parentKey" type="text">
  </div>
  <div>
    <label for="Question" class="label">Question</label>
    <input id="question" name="question" type="text">

  </div>
  <input id="isVisual" name= "isVisualized" type="checkbox" class="check" checked>
  <label for="IsVisualized"><span class="icon"></span> Is Visualized</label>
  </div>
  <div>
    <label for="More info" class="label">More info</label>
    <input id="moreinfo" name="moreInfo" type="text">
  </div>
  <div>
  <input type="submit" class="button" value="submit">
  </div>
  <form>