<form name="addquestion" action="/admin/addQ" method="post">
  <div>
    <label for="user" class="label">Question Key</label>
    <input id="questiinKey" name="Question Key" type="text">
  </div>
  <div>
    <label for="Parent Key" class="label">Parent Key</label>
    <input id="ParentKey" name="Parent Key" type="text">
  </div>
  <div>
    <label for="Question" class="label">Question</label>
    <input id="question" name="Question" type="text">

  </div>
  <input id="isVisual" type="checkbox" class="check" checked>
  <label for="IsVisualized"><span class="icon"></span> Is Visualized</label>
  </div>
  <div>
    <label for="More info" class="label">More info</label>
    <input id="moreinfo" name="more info" type="text">
  </div>
  <a href="/admin/addQ">
     <button type="button">

    <span> submit </span>
    </button>
  </a>
  <form>