<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Visual Answer</title>
</head>

<body>
    <form action="">
        <input class="question-type" type="text">
        <input class="image-description" type="text">
        <input class="next-slide-key" type="text">
        <input class="image-caption" type="text">
        <input class="image-url" type="text">
        <input class="questiontype" type="text">
        <a href="/admin/addVis">
        <button class="AVA-btn type=" submit >Submit</button>
        </a>
    </form>


</body>

</html>