<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Add Visual Answer</title>
</head>

<body>
        <form name="addVisualAnswer" action="/admin/addVis" method="POST">
                <div>
                        <label>question key</label>
                        <input name="questionKey" type="text">
                </div>
                <div>
                        <label>image description</label>
                        <input name="imageDescription" type="text">

                </div>
                <div>
                        <label>id</label>
                        <input name="id" type="number">

                </div>
                <div>
                        <label>next slide key</label>
                        <input name="nextSlideKey" type="text">

                </div>
                <div>
                        <label>image caption</label>
                        <input name="imageCaption" type="text">

                </div>
                <div>
                        <label>image url</label>
                        <input name="imageUrl" type="text">
                </div>
                <div>
                        <input type="submit" class="button" value="submit">

                </div>
        </form>


</body>

</html>