<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Verbal Answer</title>
</head>

<body>
    <form action="">
        <input class="question-type" type="text">
        <input class="description" type="text">
        <input class="next-slide-key" type="text">
        <a href="/admin/addVerb">
        <button type="submit">Submit</button>
        </a>
    </form>


</body>

</html>