<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Verbal Answer</title>
</head>

<body>
    <form name="verbalQuestion" action="/admin/updateA" method="POST">
        <div>
            <label>Enter question key for the related question you want to edit</label>
            <input name="questionKey" type="text">
        </div>
        <div>
            <label>text </label>
            <input name="text" type="text">
        </div>
        <div>
            <label>id </label>
            <input name="id" type="number">
        </div>
        <div>
            <label>next slide key </label>
            <input name="nextSlideKey" type="text">
        </div>
        <div>
            <input type="submit" class="button" value="submit">
        </div>

    </form>


</body>

</html>