<form name="update question">
  <div>
    <label for="questionkey" class="label">Question Key</label>
    <input id="questiinKey" name="Question Key" type="text">
  </div>
  <a href="/admin/updateQ">
  <button type="button">

    <span> submit </span>
  </button>
  </a>
  <form>